body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    background-color: white;
}

#title{
    background-color: #222;
    height: 46px;
    color: darkgray;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding-top: 26px;
}

header {
    background-color: black;
    height: 998px;
    width: 100%;
}

.main-title{
    top: 0;
    height:90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    
}

.main-title .logo {
    height: 80px;
    display: flex;
    align-items: center;
}
.main-title .logo i { 
    position: relative;
    top: 10px;
}
.main-title .logo a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding: 0 0 0 5px;
}

.main-title .middle-title{
    color: white;
    display: flex;
    margin: auto;
    padding-right: 50px;   
}

.first th{
    position:relative;
    font-size: 20px;
    padding: 20px ;
    font-weight: 400;
    }

.main-title .host{
    grid-template-columns: 1fr 1fr 1fr;
}

.search{
    color: white;
    font-size: 25px;
    padding-top: 10px;
}

.host .item{    
        margin: 0 5px;
        padding: 7px;
    }



.search .button {
    background-color: white;
    color: black;
    width: 1060px;
    height: 80px;
    border-radius: 40px;
    display: flex;
    margin: auto;
    position: relative;
    z-index: 2;
 
}

.house-image{
    display: flex;
    margin: -50px 30px 0 37px;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
}


.bottom-host{
    color: white;
    display: flex;
    font-size: 36px;
    padding-top: 650px;
    padding-left: 765px;
    letter-spacing: 1px;
}

#city {
    padding: 0 80px;
    margin: 50px 0;
}

#city .city-title{
    padding-top: 20px;
    padding-left: 14px;
    font-size: 38px;
    font-weight: bold;
}



#city .ctable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
}
#city .ctable .item {
    display: grid;
    grid-template-columns: 1fr 3fr; 
}


#city .item {
    
}
#city .item img{
    border-radius: 25px;
    padding: 10px 15px;
}
#city .item .text{
    padding: 25px 0px;  
    font-size: 20px;
    font-weight: 400;
}

#city .item .text .big{
    font-weight: bolder;
}

.houseChart {
padding: 0 30px;
margin: 50px 0;
}


.houseChart table {
margin: 50px;
width: 700px;
}

.houseChart table caption {
font-size: 36px;
font-weight: bold;
padding: 20px 20px 20px 10px;
}

.houseChart table th{
padding: 10px ;
font-weight: 400;
}

.houseChart table tr{
font-weight: bold;
}

.houseChart table td{
    font-size: 23px;
    padding-left: 10px;
}

